*~
*.pyc
output/
cache/
*.swp
\#*#
.#*
*.min.css
content/pages/publications-recreational.html
content/pages/publications.html
content/pages/maledicta.html
content/extra/maledicta.bib
theme/templates/publications_populated.html
theme/templates/index-publications_populated.html
virtualenv/
content/.well-known/openpgpkey
!content/.well-known/openpgpkey/logological.org/.htaccess
!content/.well-known/openpgpkey/.htaccess
