<!DOCTYPE html>
<html lang="{% block lang %}{{ DEFAULT_LANG }}{% endblock lang %}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block meta %}
        <meta name="author" content="{{ AUTHOR }}"/>
        {% if SITEKEYWORDS %}
            <meta name="keywords" content="{{ SITEKEYWORDS }}"/>
        {% endif %}
    {% endblock %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL }}/apple-touch-icon.png?v=20210610">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ SITEURL }}/favicon-32x32.png?v=20210610">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ SITEURL }}/favicon-16x16.png?v=20210610">
    <link rel="manifest" href="{{ SITEURL }}/site.webmanifest?v=20210610">
    <link rel="mask-icon" href="{{ SITEURL }}/safari-pinned-tab.svg?v=20210610" color="#333355">
    <link rel="shortcut icon" href="{{ SITEURL }}/favicon.ico?v=20210610">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    <!-- Fonts and styling -->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/maledicta/cosmo.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/maledicta/mdb/mdb.min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/maledicta/mdb-override.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/sourcesanspro/sourcesanspro.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/academicons/css/academicons.min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/maledicta/style.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/biblet.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/codehilite.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/maledicta/mdb/addons/datatables.min.css">

    <!-- Feeds -->
    {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}

    <!-- Google Analytics -->
    {{ GOOGLE_ANALYTICS }}
{% endblock head %}
</head>

<body>

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-dark bg-primary py-1 mb-3" lang="{{ DEFAULT_LANG }}">
<div class="container">
  <a class="navbar-brand font-weight-bold" href="{% block navbar_title_link %}{{ SITEURL }}{% endblock %}">{% block navbar_title %}{{ SITETITLE }}{% endblock %}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
	{% block menu %}
           {% for title, link in MENUITEMS %}
           <li class="nav-item">
	     <a class="nav-link active" href="{{ link }}">{{ title }}</a>
	   </li>
           {% endfor %}
	{% endblock %}
    </ul>
  </div>
</div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}

<footer lang="{{ DEFAULT_LANG }}">
<div class="container">
    <div class="row">
      <div class="col-md-4">
	<!-- {{ FOOTER_LEFT }} -->
	Last modified: {% block modified %}{{ BUILD_TIME }}{% endblock modified %}
      </div>
      <div class="col-md-4">
        <!-- {{ FOOTER_MIDDLE }} -->
      </div>
      <div class="col-md-4">
        {{ FOOTER_RIGHT }}
      </div>
    </div>
</div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{SITEURL}}/theme/js/maledicta/jquery-3.7.0.slim.min.js"></script>
<script src="{{SITEURL}}/theme/js/maledicta/popper.min.js"></script>
<script src="{{SITEURL}}/theme/js/maledicta/bootstrap.min.js"></script>
<script src="{{SITEURL}}/theme/js/maledicta/mdb/mdb.min.js"></script>
<script src="{{SITEURL}}/theme/js/maledicta/mdb/addons/datatables.min.js"></script>
<script>
$(document).ready(function () {
$('#maledictaIndex').DataTable({
    "order": [],
columnDefs: [{
orderable: false,
targets: 6 }]
} );
$('.dataTables_length').addClass('bs-select');
});
</script>
<script>
$('#bibtex').on('show.bs.modal', function (event) {
var button = $(event.relatedTarget) 
var entry = button.data('bibtex') 
var modal = $(this)
modal.find('.bibtexBody').text(entry)
})
</script>
</body>
</html>
