<!DOCTYPE html>
<html lang="{% block lang %}{{ DEFAULT_LANG }}{% endblock lang %}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
        <meta name="author" content="{{ AUTHOR }}"/>
        {% if SITEKEYWORDS %}
            <meta name="keywords" content="{{ SITEKEYWORDS }}"/>
        {% endif %}
    {% endblock %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ SITEURL }}/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ SITEURL }}/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ SITEURL }}/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ SITEURL }}/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ SITEURL }}/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ SITEURL }}/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ SITEURL }}/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ SITEURL }}/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="{{ SITEURL }}/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{ SITEURL }}/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ SITEURL }}/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ SITEURL }}/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ SITEURL }}/favicon-128.png" sizes="128x128" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/biblet.css">
    <!--Include the Source Sans Pro Google fonts CSS-->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/sourcesanspro/sourcesanspro.css">
    <!--Include the Font Awesome and Academicons CSS-->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/academicons/css/academicons.min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/font-awesome/css/font-awesome.min.css">
    <!-- Feeds -->
    {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    <!-- Google Analytics -->
    {{ GOOGLE_ANALYTICS }}
{% endblock head %}
</head>

<body>

<nav class="navbar navbar-inverse" lang="{{ DEFAULT_LANG }}">
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
         data-toggle="collapse" data-target="#navbar" aria-expanded="false"
         aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ SITEURL }}">{{ SITETITLE }}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
        </ul>
    </div><!--/.nav-collapse -->
</div>
</nav>

{% block content %}
{% endblock %}

<footer lang="{{ DEFAULT_LANG }}">
<div class="container">
    <div class="row">
      <!-- {{ FOOTER_LEFT }} -->
      <div class="col-md-4">
	  Last modified: {% block modified %}{{ BUILD_TIME }}{% endblock modified %}
        </div>
        <div class="col-md-4">
            {{ FOOTER_MIDDLE }}
        </div>
        <div class="col-md-4">
            {{ FOOTER_RIGHT }}
        </div>
    </div>
</div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
<script src="{{SITEURL}}/theme/js/jquery.min.js"></script>
<script src="{{SITEURL}}/theme/js/bootstrap.min.js"></script>
</body>
</html>
