{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block body_attributes %}
onload="normalizeCardHeight()"
onresize="normalizeCardHeight()"
{% endblock body_attributes %}

{% block content %}

{% include 'about.html' %}

<hr class="m-0" />

{% include 'news.html' %}

<hr class="m-0" />

{% include 'publications_populated.html' %}

<hr class="m-0" />

{% include 'projects.html' %}

<hr class="m-0" />

{% include 'miscellany.html' %}

{% endblock %}

{% block modified %}
{% endblock %}
