<!-- Miscellany -->
<section class="resume-section" id="miscellany">
  <div class="resume-section-content">
    <h2 class="mb-5">Miscellany</h2>
    
    <p>My interests in language, math, and computers were sparked and
strengthened by exposure to the works of
<a href="https://en.wikipedia.org/wiki/Willard_R._Espy">Willard R. Espy</a>,
<a href="https://en.wikipedia.org/wiki/Louis_Phillips_%28author%29">Louis Phillips</a>,
<a href="https://en.wikipedia.org/wiki/Mike_Keith_%28mathematician%29">Mike Keith</a>,
<a href="https://en.wikipedia.org/wiki/Dmitri_Borgmann">Dmitri Borgmann</a>,
<a href="https://en.wikipedia.org/wiki/Jim_Butterfield">Jim Butterfield</a>, and others.  These writers share a great talent for making technical or linguistic topics fun and accessible to a general audience.  You can check out <strong><a href="fun">my own contributions to popular and recreational mathematics and linguistics</a></strong>, plus a few other odds and ends.</p>

    <p>I also maintain <strong><a href="misc">an index of miscellaneous documents and websites I've produced</a></strong> which don't really fit into any other section.</p>
  </div>
</section>
