{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block body_attributes %}onload="equalizeCardHeight()" onresize="equalizeCardHeight()"{% endblock body_attributes %}

{% block content %}

{% include 'index-about.html' %}

<hr class="m-0" />

{% include 'index-news.html' %}

<hr class="m-0" />

{% include 'index-publications_populated.html' %}

<hr class="m-0" />

{% include 'index-projects.html' %}

<hr class="m-0" />

{% include 'index-miscellany.html' %}

{% endblock %}

{% block appendix %}
{{ super() }}
<script {{ "js/publications.js" | integrity(attrib="src") }} ></script>
{% endblock %}
