{% extends "base.html" %}

{% block lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ page.title}} | {{ SITENAME }}{% endblock %}

{% block author %}{{ page.author or SITEAUTHOR }}{% endblock %}

{% block fediverse %}{{ page.fediverse or SITEFEDIVERSE }}{% endblock %}

{% block content %}

<section class="page-section">
  <div class="page-section-content">

{{ page.content|replace("<html>","")|replace("<body>","")|replace("</html>","")|replace("</body>","") }}

  </div>
</section>

{% endblock %}

{% block modified %}{{ page.modified|strftime('%Y-%m-%d %H:%M %Z') }}{% endblock %}
