<!-- Publications -->
<section class="resume-section" id="publications">
  <div class="resume-section-content">
    <h2 class="mb-5">Publications</h2>

    <p>You can see lists of <strong><a href="publications">my scientific and technical publications</a></strong> and also <strong><a href="publications-recreational">my publications in humour, poetry, and recreational linguistics</a></strong>.</p>

    <div class='card mb-3' id='miller2021dmitri'>
      <div class='row g-0 align-items-center'>
        <div class='col-2'>
	  <img src='https://punderstanding.ofai.at/images/notes_and_queries.png' alt='' class='img-fluid' style='max-height: 15vw;'>
        </div>
        <div class='col-10'>
          <div class='card-body'>

            <div class='bib-article'>
              <div id='miller2021dmitri-citation'
                   class='miller2021dmitri-tab'><span class='bib-author'>Tristan Miller.</span>
                <br><span class='bib-title'><a
                                              href='https://academic.oup.com/nq/article/67/3/431/5900366?guestAccessKey=570b28c9-eed4-45ca-87ac-1e2650a8d5ae'>Dmitri
                    Borgmann's rotas square articles</a>.</span>
                <br><span class='bib-journaltitle'><a href='https://academic.oup.com/nq'>Notes
                    and Queries</a></span>, 67(3):431&ndash;432, September 2020.
                ISSN 0029-3970.
                DOI: <a
                       href='https://dx.doi.org/10.1093/notesj/gjaa113'>10.1093/notesj/gjaa113</a>.</div>
              <div id='miller2021dmitri-abstract' class='d-none bib-abstract
                                                         miller2021dmitri-tab'>In 1979 and 1980, Word Ways: The Journal of
                Recreational Linguistics printed a series of articles on the early history,
                religious symbolism, and cultural significance of the rotas square, an
                ancient Latin-language palindromic word square. The articles were attributed
                to Dmitri A. Borgmann, the noted American writer on wordplay and former
                editor of Word Ways. While they attracted little attention at the time, some
                35 years after their publication (and 29 years after Borgmann's death),
                questions began to be raised about their authorship. There is much internal
                and external evidence that, taken together, compellingly supports the notion
                that Borgmann did not write the articles himself. This paper surveys this
                evidence and solicits help in identifying the articles' original
                source.</div>

              <div id='miller2021dmitri-bibtex' class='d-none bib-bibtex miller2021dmitri-tab'>
                <span class='bib-entry-type'>@article</span>{<span
                                                               class='bib-entry-key'>miller2021dmitri</span>,<br>
                <div class='bib-field'><span class='bib-field-name'
                                             >author&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> = <span
                                                                                                    class='bib-field-data'>{Tristan Miller}</span>,</div>
                <div class='bib-field'><span class='bib-field-name'
                                             >title&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> = <span
                                                                                                         class='bib-field-data'>{\{Dmitri Borgmann's} Rotas Square
                    Articles}</span>,</div>
                <div class='bib-field'><span class='bib-field-name'
                                             >journal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> = <span
                                                                                               class='bib-field-data'>{Notes and Queries}</span>,</div>
                <div class='bib-field'><span class='bib-field-name'
                                             >volume&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> = <span
                                                                                                    class='bib-field-data'>{67}</span>,</div>
                <div class='bib-field'><span class='bib-field-name'
                                             >number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> = <span
                                                                                                    class='bib-field-data'>{3}</span>,</div>
                <div class='bib-field'><span class='bib-field-name'
                                             >pages&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> = <span
                                                                                                         class='bib-field-data'>{431--432}</span>,</div>
                <div class='bib-field'><span class='bib-field-name'
                                             >month&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> = <span
                                                                                                         class='bib-field-data'>sep</span>,</div>
                <div class='bib-field'><span class='bib-field-name'
                                             >year&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> = <span
                                                                                                              class='bib-field-data'>{2020}</span>,</div>
                <div class='bib-field'><span class='bib-field-name'
                                             >issn&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> = <span
                                                                                                              class='bib-field-data'>{0029-3970}</span>,</div>
                <div class='bib-field'><span class='bib-field-name'
                                             >doi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> = <span
                                                                                                                   class='bib-field-data'>{10.1093/notesj/gjaa113}</span>,</div>
                }</div>

              <div class='btn-group mt-3' role='group' aria-label='Bibliographic details'>
                <input type='radio' class='btn-check' name='miller2021dmitri-btn-group-bib' id='miller2021dmitri-btn-citation' checked>
                <label class='btn btn-outline-primary btn-sm' for='miller2021dmitri-btn-citation' onclick="openTab('miller2021dmitri','citation')">
                  <span class='iconify me-2' data-icon='mdi:format-quote-close'></span>Citation
                </label>
                <input type='radio' class='btn-check' name='miller2021dmitri-btn-group-bib' id='miller2021dmitri-btn-abstract'>
                <label class='btn btn-outline-primary btn-sm' for='miller2021dmitri-btn-abstract' onclick="openTab('miller2021dmitri','abstract')">
                  <span class='iconify me-2' data-icon='mdi:sign-text'></span>Abstract
                </label>
                <input type='radio' class='btn-check' name='miller2021dmitri-btn-group-bib' id='miller2021dmitri-btn-bibtex'>
                <label class='btn btn-outline-primary btn-sm me-5' for='miller2021dmitri-btn-bibtex' onclick="openTab('miller2021dmitri','bibtex')">
                  <span class='iconify me-2' data-icon='mdi:library'></span>BibTeX
                </label>

                <!-- Document links -->
                <a href='https://www.example.com/'>
                    <button type='button' class='btn btn-outline-primary btn-sm'>
                      <span class='iconify me-1' data-icon='mdi:file-pdf'></span>PDF
                    </button>
                </a>
              </div> <!-- btn-group -->
            </div> <!-- bib-article -->

          </div> <!-- card-body -->
        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- card -->


  </div>
</section>

<script>
/* Activate the publication tabs */
function openTab(publication, tabName) {
    var i, x;
    x = document.getElementsByClassName(publication + "-tab");
    for (i = 0; i < x.length; i++) {
        x[i].classList.add("d-none");
    }
    document.getElementById(publication + "-" + tabName).classList.remove("d-none");
}
</script>
