# Some material taken from:
# Apache Server Configs v2.14.0 | MIT License
# https://github.com/h5bp/server-configs-apache

# ######################################################################
# # MEDIA TYPES AND CHARACTER ENCODINGS                                #
# ######################################################################
DefaultLanguage en-ca

# ----------------------------------------------------------------------
# | Media types                                                        |
# ----------------------------------------------------------------------

# Serve resources with the proper media types (f.k.a. MIME types).
#
# https://www.iana.org/assignments/media-types/media-types.xhtml
# https://httpd.apache.org/docs/current/mod/mod_mime.html#addtype

<IfModule mod_mime.c>

  # Data interchange

    AddType application/atom+xml                        atom
    AddType application/json                            json map topojson
    AddType application/ld+json                         jsonld
    AddType application/rss+xml                         rss
    AddType application/vnd.geo+json                    geojson
    AddType application/xml                             rdf xml
    AddType application/x-gnupg-keyring                 gpg


  # JavaScript

    # Normalize to standard type.
    # https://tools.ietf.org/html/rfc4329#section-7.2

    AddType application/javascript                      js


  # Manifest files

    AddType application/manifest+json                   webmanifest
    AddType application/x-web-app-manifest+json         webapp
    AddType text/cache-manifest                         appcache


  # Media files

    AddType audio/mp4                                   f4a f4b m4a
    AddType audio/ogg                                   oga ogg opus
    AddType image/bmp                                   bmp
    AddType image/svg+xml                               svg svgz
    AddType image/webp                                  webp
    AddType video/mp4                                   f4v f4p m4v mp4
    AddType video/ogg                                   ogv
    AddType video/webm                                  webm
    AddType video/x-flv                                 flv

    # Serving `.ico` image files with a different media type
    # prevents Internet Explorer from displaying them as images:
    # https://github.com/h5bp/html5-boilerplate/commit/37b5fec090d00f38de64b591bcddcb205aadf8ee

    AddType image/x-icon                                cur ico


  # Web fonts

    AddType application/font-woff                       woff
    AddType application/font-woff2                      woff2
    AddType application/vnd.ms-fontobject               eot

    # Browsers usually ignore the font media types and simply sniff
    # the bytes to figure out the font type.
    # https://mimesniff.spec.whatwg.org/#matching-a-font-type-pattern
    #
    # However, Blink and WebKit based browsers will show a warning
    # in the console if the following font types are served with any
    # other media types.

    AddType application/x-font-ttf                      ttc ttf
    AddType font/opentype                               otf


  # Other

    AddType application/octet-stream                    safariextz
    AddType application/x-bb-appworld                   bbaw
    AddType application/x-chrome-extension              crx
    AddType application/x-opera-extension               oex
    AddType application/x-xpinstall                     xpi
    AddType text/vcard                                  vcard vcf
    AddType text/vnd.rim.location.xloc                  xloc
    AddType text/vtt                                    vtt
    AddType text/x-component                            htc

</IfModule>

# ----------------------------------------------------------------------
# | Character encodings                                                |
# ----------------------------------------------------------------------

# Serve all resources labeled as `text/html` or `text/plain`
# with the media type `charset` parameter set to `UTF-8`.
#
# https://httpd.apache.org/docs/current/mod/core.html#adddefaultcharset

AddDefaultCharset utf-8

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Serve the following file types with the media type `charset`
# parameter set to `UTF-8`.
#
# https://httpd.apache.org/docs/current/mod/mod_mime.html#addcharset

<IfModule mod_mime.c>
    AddCharset utf-8 .atom \
                     .bbaw \
                     .css \
                     .geojson \
                     .js \
                     .json \
                     .jsonld \
                     .manifest \
                     .rdf \
                     .rss \
                     .topojson \
                     .vtt \
                     .webapp \
                     .webmanifest \
                     .xloc \
                     .xml
</IfModule>

# ######################################################################
# # WEB PERFORMANCE                                                    #
# ######################################################################

# ----------------------------------------------------------------------
# | Compression                                                        |
# ----------------------------------------------------------------------

<IfModule mod_deflate.c>

    # Force compression for mangled `Accept-Encoding` request headers
    # https://developer.yahoo.com/blogs/ydn/pushing-beyond-gzipping-25601.html

    <IfModule mod_setenvif.c>
        <IfModule mod_headers.c>
            SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
            RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
        </IfModule>
    </IfModule>

    # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    # Compress all output labeled with one of the following media types.
    #
    # (!) For Apache versions below version 2.3.7 you don't need to
    # enable `mod_filter` and can remove the `<IfModule mod_filter.c>`
    # and `</IfModule>` lines as `AddOutputFilterByType` is still in
    # the core directives.
    #
    # https://httpd.apache.org/docs/current/mod/mod_filter.html#addoutputfilterbytype

#    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE "application/atom+xml" \
                                      "application/javascript" \
                                      "application/json" \
                                      "application/ld+json" \
                                      "application/manifest+json" \
                                      "application/rdf+xml" \
                                      "application/rss+xml" \
                                      "application/schema+json" \
                                      "application/vnd.geo+json" \
                                      "application/vnd.ms-fontobject" \
                                      "application/x-font-ttf" \
                                      "application/x-javascript" \
                                      "application/x-web-app-manifest+json" \
                                      "application/xhtml+xml" \
                                      "application/xml" \
                                      "font/eot" \
                                      "font/opentype" \
                                      "image/bmp" \
                                      "image/svg+xml" \
                                      "image/vnd.microsoft.icon" \
                                      "image/x-icon" \
                                      "text/cache-manifest" \
                                      "text/css" \
                                      "text/html" \
                                      "text/javascript" \
                                      "text/plain" \
                                      "text/vcard" \
                                      "text/vnd.rim.location.xloc" \
                                      "text/vtt" \
                                      "text/x-component" \
                                      "text/x-cross-domain-policy" \
                                      "text/xml"

#    </IfModule>

    # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    # Map the following filename extensions to the specified
    # encoding type in order to make Apache serve the file types
    # with the appropriate `Content-Encoding` response header
    # (do note that this will NOT make Apache compress them!).
    #
    # If these files types would be served without an appropriate
    # `Content-Enable` response header, client applications (e.g.:
    # browsers) wouldn't know that they first need to uncompress
    # the response, and thus, wouldn't be able to understand the
    # content.
    #
    # https://httpd.apache.org/docs/current/mod/mod_mime.html#addencoding

    <IfModule mod_mime.c>
        AddEncoding gzip              svgz
    </IfModule>

</IfModule>

# ######################################################################
# # URL REWRITING                                                      #
# ######################################################################

# Force HTTPS
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301] 

RewriteEngine On
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*index\ HTTP/
RewriteRule ^(.*)index$ https://logological.org/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/$ https://logological.org/$1 [L,R=301]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /(.+)\.html\ HTTP/
RewriteRule ^(.+)\.html$ https://logological.org/$1 [L,R=301]
RewriteRule ^([-a-zA-Z0-9_/]+)$ /$1.html [L]

# ######################################################################
# # ERROR PAGES                                                        #
# ######################################################################

ErrorDocument 401 /401.html
ErrorDocument 404 /404.html
ErrorDocument 410 /410.html

# ######################################################################
# # REDIRECTS                                                          #
# ######################################################################

# Ancient sites no longer here
Redirect gone /rotten
Redirect gone /bastard

# Old nothingisreal.com pages that people may conceivably still have bookmarked
Redirect permanent /mentifex /mentifex_faq.html
Redirect permanent /girlfriend/index.de.html /freundin
Redirect permanent /girlfriend/index /girlfriend
Redirect permanent /girlfriend/index.en.html /girlfriend
Redirect permanent /girlfriend/index.html /girlfriend
Redirect permanent /cheops/index.en.html /cheops
Redirect permanent /cheops/index.html /cheops
Redirect permanent /biblet/index.en.html /biblet
Redirect permanent /biblet/index.html /biblet
Redirect permanent /cugs/index.en.html /cugs
Redirect permanent /cugs/index.html /cugs
Redirect permanent /dlg2html/index.en.html /dlg2html
Redirect permanent /dlg2html/index.html /dlg2html
Redirect permanent /delores/index.en.html /delores
Redirect permanent /delores/index.html /delores
Redirect permanent /gpp/index.en.html /gpp
Redirect permanent /gpp/index.html /gpp
Redirect permanent /eoconv/index.en.html /eoconv
Redirect permanent /eoconv/index.html /eoconv

# Redirects from dfki.de
RedirectMatch permanent /dfki/.* /

# Redirects from de.nothingisreal.com
Redirect permanent /wiki/Warum_ich_niemals_eine_Freundin_haben_werde /freundin
Redirect permanent /wiki/Warum_ich_niemals_eine_Freunden_haben_werde /freundin
Redirect permanent /wiki/Warum_ich_nie_eine_Freundin_haben_werde /freundin
Redirect permanent /wiki/Hauptseite /
Redirect permanent /wiki/Humor /fun
Redirect permanent /wiki/Kontact /
Redirect permanent /wiki/Tristan_Miller /
Redirect permanent /wiki/About_me /
Redirect permanent /wiki/%22Tristan_Miller%22_in_various_scripts /

# Redirects from en.nothingisreal.com
Redirect permanent /wiki/About_me /
Redirect permanent /wiki/Advice_for_German_Writers_of_English_Scientific_Prose /advice
Redirect permanent /wiki/Autocomplete_maps /autocomplete
Redirect permanent /wiki/Biblet /biblet
Redirect permanent /wiki/Blog http://psych0naut.livejournal.com/
Redirect gone /wiki/Budapest_Restaurant_Reviews
Redirect permanent /wiki/CHEOPS /cheops
Redirect gone /wiki/CS_Superchick
Redirect gone /wiki/Cartoon_caption_contest
Redirect permanent /wiki/Commodore_Users_Group_of_Saskatchewan /cugs
Redirect permanent /wiki/Contact /
Redirect permanent /wiki/Contact_information /
Redirect permanent /wiki/Contact_me /
Redirect permanent /wiki/DELORES /delores
Redirect permanent /wiki/Dlg2html /dlg2html
Redirect permanent /wiki/Documents /
Redirect gone /wiki/Dvorak_typewriter_words
Redirect gone /wiki/Elemental_words_revisited
Redirect permanent /wiki/Eoconv /eoconv
Redirect permanent /wiki/Fan_mail_for_%22Why_I_Will_Never_Have_A_Girlfriend%22 /fan_mail
Redirect permanent /wiki/GNU/Linux_on_a_Dell_Inspiron_1525 /gnu_on_laptops/OpenSUSE_11_3_on_a_Dell_Inspiron_1525
Redirect permanent /wiki/GNU/Linux_on_a_Lenovo_ThinkPad_T61 /gnu_on_laptops/GNULinux_on_a_Lenovo_ThinkPad_T61
Redirect permanent /wiki/GNU/Linux_on_a_Samsung_X20 /gnu_on_laptops/GNULinux_on_a_Samsung_X20
Redirect permanent /wiki/GNU/Linux_on_a_Sony_Vaio_PCG-FX801 /gnu_on_laptops/GNULinux_on_a_Sony_Vaio_PCG-FX801
Redirect permanent /wiki/GNU/Linux_on_an_IBM_Thinkpad_i1452 /gnu_on_laptops/GNULinux_on_an_IBM_ThinkPad_i1452
Redirect permanent /wiki/GPP /gpp
Redirect permanent /wiki/Haiku /haiku
Redirect gone /wiki/Higher-order_contronyms
Redirect permanent /wiki/Humour /fun
Redirect gone /wiki/Icelandic_two-letter_words
Redirect gone /wiki/Kevin%27s_Iatrogenic_Escapade
Redirect permanent /wiki/Logology /fun
Redirect permanent /wiki/Main_Page /
Redirect permanent /wiki/Miscellaneous_documents /misc
Redirect gone /wiki/Musiku
Redirect gone /wiki/My_music
Redirect permanent /wiki/OpenSUSE_10.3_on_a_Dell_Inspiron_1525 /gnu_on_laptops/OpenSUSE_10_3_on_a_Dell_Inspiron_1525
Redirect permanent /wiki/OpenSUSE_11.1_on_an_Asus_Eee_901 /gnu_on_laptops/OpenSUSE_11_1_on_an_Asus_Eee_901
Redirect permanent /wiki/OpenSUSE_11.3_on_a_Dell_Inspiron_1525 /gnu_on_laptops/OpenSUSE_11_3_on_a_Dell_Inspiron_1525
Redirect permanent /wiki/OpenSUSE_13.2_on_an_Acer_TravelMate_B115-M /gnu_on_laptops/OpenSUSE_13_2_on_an_Acer_TravelMate_B115-M
Redirect gone /wiki/Pessimal_spelling_alphabets
Redirect permanent /wiki/Please_don%27t_send_me_Microsoft_Word_documents /word
Redirect permanent /wiki/Publications_by_Tristan_Miller /publications
Redirect permanent /wiki/Research /publications
Redirect permanent /wiki/Research_publications_by_Tristan_Miller /publications
Redirect gone /wiki/Russian%E2%80%93English_homoglyphs,_homographs,_and_homographic_translations
Redirect permanent /wiki/School_newspapers /school_newspapers
Redirect permanent /wiki/Sex_Pistols_impersonations /sex_pistols
Redirect gone /wiki/Socialism
Redirect permanent /wiki/Software /software
Redirect permanent /wiki/The_Arthur_T._Murray/Mentifex_FAQ /mentifex_faq.html
Redirect permanent /wiki/Tristan_Miller /
Redirect permanent /wiki/What_is_%22signature.asc%22%3F /signature
Redirect gone /wiki/Where_in_the_world_am_I%3F
Redirect permanent /wiki/Why_I_Will_Never_Have_A_Girlfriend /girlfriend
Redirect permanent /wiki/Why_I_Will_Never_Have_a_Girlfriend /girlfriend
Redirect permanent /wiki/Writing /

# Miscellaneous
Redirect permanent /photos/pets/Frettchen/London_2009-12/ /photos/pets/Frettchen/London_2009-12-23/
Redirect permanent /lipograms /fun
#Redirect permanent /phd.pdf http://files.nothingisreal.com/publications/Tristan_Miller/miller2016adjusting.pdf
#Redirect seeother /photos/Iceland/Iceland_2010-01/Reykjavík/tn/img_0800.med.jpg http://images.radiotimes.com/namedimage/Who_are_the_White_Walkers_in_Game_of_Thrones_.jpg?quality=85&mode=crop&width=620&height=374&404=tv&url=/uploads/images/original/78100.jpg

# Temporary stuff
Redirect /miller_cv.pdf http://www.nothingisreal.com/miller_cv.pdf
Redirect /sonnet http://www.nothingisreal.com/sonnet
Redirect /photos http://www.nothingisreal.com/photos
Redirect /courses http://www.nothingisreal.com/courses
Redirect /sagesdesk http://www.nothingisreal.com/sagesdesk
Redirect /mentifex_faq http://www.nothingisreal.com/mentifex_faq.html

# Redirect SemEval-2017 Task 7 site
Redirect permanent /puns http://alt.qcri.org/semeval2017/task7/
Redirect permanent /semeval2017/task http://alt.qcri.org/semeval2017/task7/
Redirect permanent /semeval2017/data http://alt.qcri.org/semeval2017/task7/index.php?id=data-and-resources
Redirect permanent /semeval2017/references http://alt.qcri.org/semeval2017/task7/index.php?id=references
Redirect permanent /semeval2017/semeval2017_pun_task.tar.xz http://alt.qcri.org/semeval2017/task7/data/uploads/semeval2017_pun_task.tar.xz
Redirect permanent /images/SemEval-2017_20160623_flyer.png http://alt.qcri.org/semeval2017/task7/data/uploads/semeval-2017_20160623_flyer.png
Redirect permanent /images/SemEval-2017_20160623_flyer.pdf http://alt.qcri.org/semeval2017/task7/data/uploads/semeval-2017_20160623_flyer.pdf

# News to share on Facebook
Redirect permanent /fb/manitoban https://themanitoban.com/2024/03/crunching-code-and-cracking-jokes/47075/
