/* Fix MD Bootstrap overrides */

.navbar { box-shadow: none !important; font-weight: 400; }

.btn { box-shadow: none !important; }

:root {
  --blue: #2780E3;
  --indigo: #6610f2;
  --purple: #613d7c;
  --pink: #e83e8c;
  --red: #FF0039;
  --orange: #f0ad4e;
  --yellow: #FF7518;
  --green: #3FB618;
  --teal: #20c997;
  --cyan: #9954BB;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #373a3c;
  --primary: #2780E3;
  --secondary: #373a3c;
  --success: #3FB618;
  --info: #9954BB;
  --warning: #FF7518;
  --danger: #FF0039;
  --light: #f8f9fa;
  --dark: #373a3c;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  font-family: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #373a3c;
  text-align: left;
  background-color: #fff;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

.tooltip {
  font-family: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.popover {
  font-family: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.text-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}
