/*
body {
    font-size: 12pt;
}

table + h2 {
    margin-top: 1ex;
}


dd {
    margin-left: 3em;
}

footer {
    width: 100%;
    margin-top: 30px;
    border-top: 1px solid #CCC;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #6F6F6F;
 }

.list-group-item {
    border: none;
}

.list-group-item > i {
    margin-right: 5px;
}

.thumbnail {
    border-radius: 4px;
}

.container-fluid {
    padding: 0;
}

.altmetric-embed img {
    width: auto;
}

.site-description {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 45px;
    padding-right: 45px;
    line-height: 45px;
    font-size: 18pt;
}

.banner-area {
    background-color: #EEE;
    margin-bottom: 30px;
}

.banner {
    background-size: cover;
    width: 100%;
    min-height: 400px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5) inset;
    background-position: left top;
    margin: 0px;
}

.summary-box {
    padding-left: 45px;
    padding-right: 45px;
}

.github-fork-ribbon:before {
  background-color: #000;
}

.github-fork-ribbon:after {
    padding: 0;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}
*/

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.33%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.33%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}
