@media screen {
  .sticky-header > thead > tr:first-child {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  /* Necessary only if the thead has a transparent background */
  /*
  .sticky-header > thead > tr:first-child > th {
    background-color: #fff;
  } 
 */
}
